<% if(typeof errors !='undefined'){%>
    <%errors.forEach(function(error){ %>
      <div class="alert alert-warning alert-dismiss " role="alert">
        
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%=error.msg%>
      </div>
     
    
       
      
      
  <%  })   %>

<%}%>


<%if(typeof error!='undefined'){%>
<% error.forEach((error)=>{%>
   <div class="alert alert-warning alert-dismiss" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="close">
       <span aria-hidden="true">&times;</span>
     </button>
     <%=error.msg%>
   </div>
<%})%>

  <%}%>

<% if(success_msg!=''){%>
  <div class="alert alert-success alert-dismiss" role="alert">
    <%=success_msg%>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 

<%}%>


<% if(error_msg!=''){%>
  <div class="alert alert-warning alert-dismiss" role="alert">
    <%=error_msg%>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 

<%}%>